---
import { LogoSphereClient as LogoSphereClientIsland } from "@/components/LogoSphere.client";
---

<div class="relative h-16 w-16">
    <div
        class="absolute inset-3 size-10 z-0 rounded-full bg-purple-950 transition-opacity duration-700 ease-out motion-safe:opacity-90"
    >
    </div>
    <LogoSphereClientIsland client:only="react" />
</div>
